body{
	padding: 50px 0 0 0;
	z-index: 0;
}

.navbar-brand{
	padding-right: 20px;
}

.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer{
	background-color: gray;
	padding: 20px 0px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background-color: #9575CD;
}

.address{
	font-size: 80%;
}
.orange{
	background-color: orange;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.carousel {
    background:#512DA8;
}

.carousel-item {
  height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButton{
	position: absolute;
	right: 0px;
	bottom: 0px;
}